<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
        
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/argon.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="content-wrapper">
          <div class="row flex-grow">
            <div class="col-lg-7 mx-auto mt-5 text-white">
              <div class="text-primary mt-5 row align-items-center d-flex flex-row">
                <div class="col-lg-6 text-lg-right pr-lg-4">
                  <h1 class="display-1 font-weight-bold mb-0" style="font-size: 8.5rem;">{{error.status}}</h1>
                </div>
                <div class="col-lg-6 text-lg-left pl-lg-4">
                  <h2 style="font-size: 2rem;">Oups!</h2>
                  <h3 class="font-weight-light">{{message}}</h3>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 text-center mt-xl-2">
                  <a class="text-primary font-weight-medium" href="/">Back home</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 mt-xl-2">
                  <p class="text-white font-weight-medium text-center">Copyright &copy; 2019 All rigth reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/argon.min.js"></script>
  </body>
</html>
