{% extends "auth.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Changer de mot de passe</h5>
          {% include "alert.html" %}
          <form class="form-signin" action="/reset-password" method="post">
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Nouveau mot de passe</label>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="confirm-password" class="form-control" placeholder="Confirmer Password" required>
              <label for="inputPassword">Confirmer mot de passe</label>
            </div>
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Modifier</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
